<div class="card-table" id="card-table" #colorDiv>
  <div class="table" id="table">
    @for (item of items$; track $index) {
    <div class="box" id="{{ $index }}">
      <div class="semicirculo-1" id="{{ $index }}a"></div>
      <div class="semicirculo-2" id="{{ $index }}b"></div>
    </div>
    }
  </div>
</div>


<div class="panel">
  <div id="svg-obj">

  </div>

  <div class="full-wrapper">
    <div class="center-element">

      <div class="card">
        Elije los colores
        
        <div class="pic-colors">

          <input
          type="color"
          id="colorPicke1r"
          name="colorPicker"
          [(ngModel)]="colors[1]"
          />

          <input
          type="color"
          id="colorPicker2"
          name="colorPicker"
          [(ngModel)]="colors[2]"
          />

        <input
        type="color"
        id="colorPicker3"
        name="colorPicker"
          [(ngModel)]="colors[3]"
        />
        </div>
        
        <btn
        emoji=""
          label="Cambiar colores"
          icon=""
          (click)="changeColors()"
          [color]="'pri'"
          [button]="'btn'"
        >
      </btn>
      
      
      <btn
      emoji=""
      label="Generar Geo Pattern"
      icon=""
      (click)="generatePattern()"
      [color]="'pri'"
      [button]="'btn'"
      >
    </btn>

    <btn
      emoji=""
      label="Descargar"
      icon=""
      (click)="download()"
      [color]="'pri'"
      [button]="'btn'"
      >
    </btn>

   
    
  </div>
      
    </div>
  </div>
</div>


<canvas id="canvas" style="display: none;"></canvas>

  
  
  
  
  