

  .panel{
    position: fixed;
    bottom: 10px;
    left: 10px;
  }

/*   .card-colors{
    padding: 6px;
    border-radius: 6px;
    background-color: var(--card-color);
    gap: 10px;
    display: grid;
    max-width: 600px;
    width: 100%;
    
    
  } */
 .card-table{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  margin: 0;
  
 }

 .table{
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
 /*  grid-template-columns: repeat(10,100px);
  grid-template-rows: repeat(10,100px); */
}


 .pic-colors{
 gap: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
 }

 .pic-colors input{
  width: 100px;
  height: 60px;
 }


 

  .box{
   
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .semicirculo-1 {
    
    width: 100px;
    height: 50px;
    background-color: #e7ad42;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    overflow: hidden; /* para ocultar el resto del círculo */
}

.semicirculo-2 {
    width: 100px;
    height: 50px;
    background-color: #e74242;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden; /* para ocultar el resto del círculo */
}